<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <script src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="/css/lcag.css">
    <script src="/js/lcag-common.js"></script>
    <title>Loan Charge Action Group | Membership Form</title>
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <img alt="Brand" src="/images/lcag_logo.jpg" width="60">
                    </a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="inputFieldForm" action="/submit" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="token" value="" id="token" />
                        <div class="panel panel-default">

                            <div class="panel-heading">Secure Upload<div class="pull-right"><i class="fa fa-lock" aria-hidden="true"></i></div></div>

                            <div class="panel-body">

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Please enter your name" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></div>
                                        <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="Please enter your email address" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="mpName" class="form-control" id="mpName" placeholder="Please enter the name of your MP" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="mpParty" class="form-control" id="mpParty" placeholder="Please enter your MP party" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="mpConstituency" class="form-control" id="mpConstituency" placeholder="Please enter your MP constituency" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="checkbox">
                                            <label>
                                                <input name="mpEngaged" type="checkbox"> Have you engaged your MP?
                                            </label>
                                        </div>
                                        <div class="input-group">
                                            <div class="checkbox">
                                                <label>
                                                    <input name="mpSympathetic" type="checkbox"> Is your MP sympathetic?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="schemes" class="form-control" id="schemes" placeholder="Please enter the name of the scheme(s) you were involved with" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                                        <input type="text" name="industry" class="form-control" id="industry" placeholder="Please enter the industry that you work / worked in" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="identification">Please provide proof of ID (passport or driving license)</label>
                                    <input type="file" name="identification" class="form-control" id="identification" required />
                                </div>
                                <div class="form-group">
                                    <label for="identification">Please provide proof of HMRC enquiry or involvement in a scheme (HMRC enquiry / discovery assessment / APN, loan agreement with your name visible etc.)</label>
                                    <input type="file" name="proofOfSchemeInvolvement" class="form-control" id="proofOfSchemeInvolvement" required />
                                </div>
                            </div>

                            <div class="panel-footer clearfix">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary" id="uploadButton">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, "\\$&");
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, " "));
            }

            $(function () {
                $.ajax({
                    url: '/member?token=' + getParameterByName('token'),
                    method: "GET",
                    dataType: "json",
                    complete: function(response, status) {
                        if (status == "success") {
                            var member = response.responseJSON;
                            $('#name').val(member.name);
                            $('#emailAddress').val(member.emailAddress);
                        }
                    }
                });

                $('#token').val(getParameterByName('token'));

                $("#inputFieldForm").validate({
                    errorElement: "em",
                    errorPlacement: function ( error, element ) {
                        // Add the `help-block` class to the error element
                        error.addClass( "help-block" );

                        // Add `has-feedback` class to the parent div.form-group
                        // in order to add icons to inputs
                        element.parents( ".col-sm-5" ).addClass( "has-feedback" );

                        error.insertAfter( element.parent() );

                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if ( !element.next( "span" )[ 0 ] ) {
                            $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
                        }
                    },
                    success: function ( label, element ) {
                        // Add the span element, if doesn't exists, and apply the icon classes to it.
                        if ( !$( element ).next( "span" )[ 0 ] ) {
                            $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
                        }
                    },
                    highlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
                        $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
                    },
                    unhighlight: function ( element, errorClass, validClass ) {
                        $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
                        $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
                    }
                });

            });


        </script>
    </body>
</html>
